<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Typescript</title>
    <%- include('js/app.head.html'); %>
  </head>
  <body>
    <div><%- body %></div>
    <%- include('js/app.body.html'); %>
  </body>
</html>
