{
  "name": "node-express-project",
  "version": "1.0.0",
  "description": "",
  "main": "./src/backend/app.ts",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "clean": "gulp clean",
    "build_backend": "gulp backend",
    "build_frontend_assets": "gulp frontend-assets",
    "build_frontend_views": "gulp frontend-views",
    "build_frontend_compile:dev": "webpack --mode development",
    "build_frontend_compile:prod": "webpack --mode production",
    "build_frontend:dev": "run-p build_frontend_assets build_frontend_views build_frontend_compile:dev",
    "build_frontend:prod": "run-p build_frontend_assets build_frontend_views build_frontend_compile:prod",
    "build:dev": "npm run clean && run-p build_backend build_frontend:dev",
    "build:prod": "npm run clean && run-p build_backend build_frontend:prod",
    "serve:dev": "NODE_ENV=development node --experimental-specifier-resolution=node ./dist/backend/app.js",
    "serve:prod": "NODE_ENV=production node --experimental-specifier-resolution=node ./dist/backend/app.js",
    "build_serve:dev": "run-s build:dev serve:dev",
    "build_serve:prod": "run-s build:prod serve:prod",
    "watch_backend": "nodemon --watch src/backend -e ts --exec run-s build_backend serve:dev",
    "watch_frontend_assets": "nodemon --watch src/frontend/static -e gif,jpg,jpeg,png,webp --exec npm run build_frontend_assets",
    "watch_frontend_views": "nodemon --watch src/frontend/views -e ejs,html,htm --exec npm run build_frontend_views",
    "watch_frontend_compile": "nodemon --watch src/frontend/static -e tsx,ts,jsx,js,css,scss,sass --exec npm run build_frontend_compile:dev",
    "watch": "npm run clean && run-p watch_backend watch_frontend_assets watch_frontend_views watch_frontend_compile",
    "dev": "npm run watch",
    "prod": "npm run build_serve:prod"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "@types/express": "^4.17.14",
    "@types/express-ejs-layouts": "^2.5.0",
    "@types/node": "^18.11.9",
    "css-loader": "^6.7.1",
    "del": "^7.0.0",
    "gulp": "^4.0.2",
    "gulp-typescript": "^6.0.0-alpha.1",
    "html-webpack-plugin": "^5.5.0",
    "mini-css-extract-plugin": "^2.6.1",
    "node-sass": "^7.0.3",
    "nodemon": "^2.0.20",
    "npm-run-all": "^4.1.5",
    "sass-loader": "^13.1.0",
    "style-loader": "^3.3.1",
    "ts-loader": "^9.4.1",
    "ts-node": "^10.9.1",
    "typescript": "^4.8.4",
    "webpack": "^5.74.0",
    "webpack-cli": "^4.10.0"
  },
  "dependencies": {
    "ejs": "^3.1.8",
    "express": "^4.18.2",
    "express-ejs-layouts": "^2.5.1"
  },
  "type": "module"
}
