<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Typescript</title>
    <%- include('css/bundle.head.html'); %>
    <%- include('js/bundle.head.html'); %>
  </head>
  <body>
