while IFS= read -r -d $'\0' file; do nix_direnv_watch_file "$file"; done < <(find . -name "*.nix" -type f -print0)
nix_direnv_watch_file flake-devshell.toml
nix_direnv_watch_file flake-packages-devenv.json
nix_direnv_watch_file flake-packages-runtime.json
use flake .#flake-devshell

dotenv
layout node

source_env .envrc.aliases
watch_file .envrc.aliases
